.nav {
  background-color: #f00;
  margin-bottom: 2rem;

  .container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .navBrand {
      color: white;
      font-size: 1.5rem;
    }

    .navBar {
      display: flex;
      list-style-type: none;

      .navItem {
        position: relative;
        margin-right: 1rem;
        text-transform: uppercase;
        
        a {
          color: white;
        }
      }

      .active::after {
        content: '';
        position: absolute;
        left: 0;
        top: .5rem;
        height: .2rem;
        background-color: white;
      }
    }
  }
}